.btn {
  border-width: $border;
  @extend %rounded-corners;
  line-height: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  min-width: 210px;
  padding: 11px 0px;
  text-decoration: none;
  font-size: 1rem;
  &--modal-login {
    color: $cyan;
    font-size: $font-size-sm;
    text-transform: none;
    &:hover {
      color: $black;
    }
  }
  &.btn-lg {
    padding: 13px 0px;
  }
  &.btn-initial {
    min-width: initial;
    padding: 11px 25px;
  }
}
.btn-secondary {
  border-color: $white;
  &:hover, &:active,&.active {
    background-color: $white;
    border-color: $secondary;
    color: $secondary;
  }
}
.btn-primary {
  border-color: $white;
  &:hover, &:active,&.active {
    background-color: $white;
    border-color: $primary;
    color: $primary;
  }
}

.btn--leaderbox {
  background-color: transparent;
  border-width: $border;
  min-width: initial;
  padding: 11px 24px;
  &.btn--leaderbox-purple {
    border-color: $purple;
    color: $purple;
    &:hover {
      background-color: $purple;
      color: $white;
    }
  }
  &.btn--leaderbox-blue {
    border-color: $cyan;
    color: $cyan;
    &:hover {
      background-color: $cyan;
      color: $white;
    }
  }
  &.btn--leaderbox-red {
    border-color: $red;
    color: $red;
    &:hover {
      background-color: $red;
      color: $white;
    }
  }
}
