h1 {
  font-size: 40px;
  font-weight: 300;
}

.btn {
  min-width: 130px;
}

.panel {
  margin-bottom: 20px;
}

.panel-header {
  display: flex;
  align-items: center;
  padding: 17px 0;
  border-bottom: 1px solid #CCCCCC;
}

.panel-header.active {
  margin-bottom: 15px;
}

.panel-header .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 20px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 13px;
}

.panel-header.active .circle {
  background: #455A65;
}

.panel-header.inactive .circle {
  background: #CCCCCC;
}

.panel-header .btn-edit {
  min-width: auto;
  padding: 0;
  color: #00B9C5;
  font-size: 13px;
}

.panel-header h4 {
  margin-bottom: 0;
}

.panel-header.active h4 {
  color: #455A65;
}

.panel-header.inactive h4 {
  color: #CCCCCC;
}

.panel-header p {
  margin: 0;
  flex-grow: 1;
}
