.cart-demo {
  &__header {
    height: 50px;
    padding-bottom: 20px;
    border-bottom: $border $grey;
  }

  &__summary {
    font-size: .8rem;
    &__item {
      padding: 20px 0;
      border-bottom: $border $grey;
    }
    .item__description{
      font-size: 1rem;
    }

    &__subtotal {
      padding: 20px 0;
      border-bottom: $border $grey;
    }
  }

  dt{
    color: $gray-400;
    font-weight: lighter;
    text-transform: uppercase;
  }

  &__footer{
    height: 50px;
    padding: 20px 0;
    .checkout{
      background-color: $primary;
      &:hover{
        background-color: $white;
      }
    }
  }

  .input-group.form-quantity-selector {
    .btn-quantity-change {
      border: $border $gray-400;
      color: $cyan;
    }
    .form-control {
      &:focus {
        border-color: $cyan;
      }
    }
  }
  .input-group.form-quantity-selector {
    flex-wrap: nowrap;
    width: 75px;
    float: right;
    .btn-quantity-change {
      min-width: initial;
      width: 25px;
      &.left {
        border-radius: 3px 0 0 3px;
      }
      &.right{
        border-radius: 0 3px 3px 0;

      }
    }
    .form-control,
    .btn-quantity-change {
      height: 25px;
      width: 25px;
      padding: 0;
      text-align: center;
      &.input-number{
        font-size: inherit;
        border-radius: 0;
      }
    }
    .form-control {
      &:focus {
        box-shadow: none;
      }
    }
    &--sm {
      input {
        font-size: 0.75rem;
        width: 25px;
      }
      .btn-quantity-change {
        width: 25px;
      }
      .form-control,
      .btn-quantity-change {
        height: 24px;
      }
    }
  }
}