.save-btn-container {
  text-align: center;
}

.rating-input {
  display: flex;
  justify-content: space-between;

  .btn-rating {
    border: none;
    border-radius: 100px;
    width: 30px;
    height: 30px;

    &:hover, &--selected {
      background-color: $primary;
      color: $white;
    }

    &:focus { outline: none; }
  }
}

.ranking-item {
  display: flex;
  border: 2px solid lightgrey;
  border-radius: 10px;
  padding: 10px 16px;
  margin-bottom: 10px;
  background: white;

  &__handle {
    display: inline-block;
    width: 30px;
    color: lightgrey;
    align-self: center;
  }

  &__index {
    display: inline-block;
    width: 24px;
  }
}

.filepond--credits { display: none; }

.widget-step-indicator {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0 0 5px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: none;
  font-size: 0.75rem;

  li {
    display: inline-block;
    position: relative;
    margin: -10px 0 0;
    padding: 0 24px;
    counter-increment: steps;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.9rem;

    > * {
      display: inline-block;
      padding-top: 20px;
    }

    &.visited::after,
    &.visited > ::before,
    &.current > ::before {
      background: $primary;
      color: $white;
    }

    > ::before {
      position: absolute;
      content: counter(steps);
      z-index: 1;
      left: 50%;
      top: 0;
      width: 20px;
      height: 20px;
      transform: translateX(-50%);
      border-radius: 50%;
      background: $gray-300;
      font-size: 0.8rem;
      line-height: 1.3rem;
    }
  }
}

.field--acceptterms {
  .terms-html.scroll {
    max-height: 300px;
    overflow: scroll;
    background: #f9f9f9;
    padding: 20px;
  }
}

.section-sidebar {
  display: flex;
  flex-direction: column;

  .btn {
    display: flex;
    text-align: left;

    &.active {
      color: $primary;
      opacity: 1;
    }

    &:hover {
      background: $light;
      text-decoration: none;
    }
  }

  .icon {
    display: inline-block;
    flex-shrink: 0;
    width: 0.875em;
    font-weight: 900;
    margin-right: 10px;
    text-align: center;
  }
}

.section-dropdown {
  margin-bottom: 20px;

  .dropdown-toggle {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .dropdown-menu {
    width: 100%;

    .dropdown-item {
      overflow: hidden;
      text-overflow: ellipsis;

      &.active {
        color: $primary;
        opacity: 1;
      }
    }
  }
}

.subform-header {
  margin-bottom: 16px;

  .explanation {
    color: $gray-600;
  }
}

.subform-container {
  background: $light;
  padding: 12px 16px 4px;
  border-radius: 5px;
  margin-bottom: 16px;
}
