.clarety-quiz-widget {
  .panel-header {
    text-align: center;
    padding: 20px 20px 0;

    .subtitle {
      font-size: 1.2rem;
      font-weight: bold;
    }
  }

  .results-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 160px;
  }

  .poll-result {
    .progress {
      margin: 10px 0;
      height: 40px;
      font-size: 1rem;
    }

    .progress-bar {
      padding-left: 20px;
      background: blue;
      color: black;
      text-align: left;
    }
  }

  .image-poll-result {
    .card-body {
      padding: 0;

      .progress {
        margin: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }

  .panel-actions {
    margin: 10px 0 20px;
  }
}
