.registrations {
  .mini-cart {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    margin-top: 0;
    padding: 0;

    .col {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px 0px;
      border-right: 1px solid #999999;

      &:last-of-type {
        border: none;
        align-items: flex-end;
      }
    }

    .mini-cart-brand {
      img { height: 40px; }
    }

    .progress {
      width: 100%;
      height: 12px;
      border-radius: 0;
      background-color: transparent;
  
      .progress-bar {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        background-color: #455a65;
      }
    }
  }

  .language-select {
    margin-bottom: 10px;
    .btn {
      padding: 2px 6px;
    }
  }

  .stack-panel {
    padding: 60px 0;
    border-bottom: 1px solid #dee2e6;
  }

  .panel-last .stack-panel {
    min-height: 100vh;
  }

  h4 {
    text-align: center;
  }

  .btn {
    padding: 12px 20px 12px 20px;
  }

  .panel {
    .container {
      padding: 0 20px;
      text-align: center;
  
      @media (min-width: 768px) {
        padding: 0 60px;
      }
    }
  }

  .panel-actions {
    margin-top: 2rem;
  }

  .busy-overlay-modal {
    max-width: 400px;
    margin-top: -60px;
  
    .modal-body {
      padding: 1.5rem;
    }
  }

  .StripeElement {
    padding: 8px;
  }

  .form-group {
    text-align: left;
  }

  .invalid-feedback {
    display: block;
  }

  .merch-items {
    justify-content: center;

    .col-12 {
      margin-bottom: 20px;
    }
  }

  .merch-item {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;

    &__image {
      margin-bottom: 20px;
    }

    &__description {
      margin-bottom: 20px;
      text-align: left;
    }

    .input-group-qty { margin: auto auto 0; }
    .merch-item-sizes { margin-top: auto; }
  }

  .merch-item-size {
    display: flex;
    padding: 4px 12px;
    border-top: 1px solid rgba(0, 0, 0, 0.125);

    &:nth-child(even) {
      background: rgba(0, 0, 0, 0.025);
    }

    &:last-of-type {
      margin-bottom: 20px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }

    &__qty {
      margin-left: auto;
      font-weight: bold;
    }
  }

  .merch-qty {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: 0.75rem 1.25rem;

    &:last-child { border-bottom-width: 0; }

    .input-group-qty {
      width: 100px;
  
      input {
        padding: 0;
      }
  
      button {
        width: 30px;
        padding: 0;
      }
    }
  }

  .merch-panel .delivery-address {
    margin: 40px auto 0;
    max-width: 600px;
  }

  .cart-summary {
    text-align: left;
  }

  .shipping-options {
    margin-top: 30px;

    h3 {
      text-align: center;
      margin-bottom: 30px;
    }
  }

  .shipping-option {
    margin-bottom: 20px;
    padding-left: 30px;

    input { margin-left: -30px; }

    label { display: flex; }

    &__name {
      flex-grow: 1;
    }

    &__date {
      color: #999999;
      font-size: 13px;
    }
  }


  /* react-block-ui overrides */

  .registration-app .block-ui-container,
  .block-ui-container {
    position: fixed;
  }


  /* react-select overrides */

  .react-select__control {
    &--is-focused, &--menu-is-open {
      border-color: #455a65 !important;
      box-shadow: 0 0 0 1px #455a65 !important;
    }
  }

  .react-select__option {
    &--is-focused {
      background: #e9ecef !important;
    }

    &--is-selected {
      background: #455a65 !important;
    }
  }


  /* react-phone-number-input overrides */

  .react-phone-number-input__icon {
    width: 1.8em;
    height: auto;
    line-height: 0;
  }


  /* custom styles */

  .panel-body {
    margin: 40px auto;
  }

  .event-panel .panel-body { max-width: 600px; }
  .login-panel .panel-body { max-width: 600px; }
  .qtys-panel .panel-body { max-width: 500px; }
  .team-panel .panel-body { max-width: 600px; }
  .payment-panel .panel-body { max-width: 600px; }

  .offers-panel {
    .row-participant {
      padding: 15px;

      &:nth-child(even) { background: #dee2e6; }
    }

    h4 {
      display: inline-block;
      margin-left: 20px;
      margin-bottom: 0;
    }

    .circle {
      display: inline-block;
      width: 40px;
      height: 40px;
      margin: 0 auto;
      border: 1px solid #000;
      border-radius: 40px;
      line-height: 40px;
      text-align: center;
    }

    .btn-offer {
      width: 100%;
      padding: 6px;
      background: #fff;
      color: #000;
      border: 1px solid #455a65;

      @media (min-width: 992px) {
        margin: 10px 0;
      }
  
      .offer-name {
        display: block;
        margin-bottom: 2px;
        font-size: 0.8rem;
      }
  
      .offer-price {
        display: block;
        font-size: 1rem;
      }
  
      &.selected {
        background: #455a65;
        color: #fff;
      }
    }
  }

  .input-group-qty {
    margin-left: auto;
    width: 140px;

    input {
      text-align: center;
      outline: none;
      background: #f8f9fa;
      line-height: 2;
    }

    button {
      width: 40px;
    }
  }

  .terms-html {
    max-height: 200px;
    overflow-y: auto;
    background-color: #eee;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
  }
}
