.clarety-rsvp-widget {
  width: 460px;
  margin: 0 auto;

  h1 {
    font-size: 40px;
    font-weight: 300;
  }

  .btn {
    min-width: 130px;
    margin-left: 10px;
  }

  .panel {
    margin-bottom: 20px;
  }

  .panel-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 17px 0;
    border-bottom: 1px solid #ccc;

    h4 {
      margin-bottom: 0;
    }

    p {
      margin: 0;
      flex-grow: 1;
    }

    .circle {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      margin-right: 10px;
      border-radius: 20px;
      color: #fff;
      font-weight: bold;
      font-size: 13px;
    }

    .btn-edit {
      min-width: auto;
      padding: 0;
      color: #00B9C5;
      font-size: 13px;
    }

    &__title {
      font-size: 1.5rem;
      font-weight: 500;
    }

    &.active {
      h4 { color: #455A65; }
      .circle { background: #455A65; }
    }

    &.inactive {
      h4 { color: #ccc; }
      .circle { background: #ccc; }
    }
  }

  .panel-actions {
    margin-top: 1rem;
    text-align: right;
  }
}
