$white:      #FFFFFF;
$light-grey: #CCCCCC;
$mid-grey:   #999999;
$dark-grey:  #455A65;
$teal:       #00B9C5;

.clarety-rsvp-widget {
  width: 460px;
  margin: 0 auto;

  h1 {
    font-size: 40px;
    font-weight: 300;
  }

  .btn {
    min-width: 130px;
    margin-left: 10px;
  }

  .panel {
    margin-bottom: 20px;
  }

  .panel-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 17px 0;
    border-bottom: 1px solid $light-grey;

    h4 {
      margin-bottom: 0;
    }

    p {
      margin: 0;
      flex-grow: 1;
    }

    .circle {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      margin-right: 10px;
      border-radius: 20px;
      color: $white;
      font-weight: bold;
      font-size: 13px;
    }

    .btn-edit {
      min-width: auto;
      padding: 0;
      color: $teal;
      font-size: 13px;
    }

    &__title {
      @extend h4;
      font-size: 1.5rem;
      font-weight: 500;
    }

    &.active {
      h4 { color: $dark-grey; }
      .circle { background: $dark-grey; }
    }

    &.inactive {
      h4 { color: $light-grey; }
      .circle { background: $light-grey; }
    }
  }

  .panel-actions {
    margin-top: 1rem;
    text-align: right;
  }
}
