@import '~bootstrap/scss/bootstrap.scss';

.clarety-widgets-modal { @extend .registrations; }

.registrations {
  // bootstrap overrides

  .sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
  }

  .stack-panel {
    padding: 60px 0;
    border-bottom: 1px solid $gray-300;
  }

  .panel-last .stack-panel {
    min-height: 100vh;
  }

  h4 {
    text-align: center;
  }

  .btn {
    padding: 12px 20px 12px 20px;
  }

  .navbar {
    align-items: stretch;
    padding: 0;
    background: $light;
    flex-direction: column;

    &-brand {
      padding: 0;
    }

    .row { width: 100% }

    .col {
      padding: 15px;
      height: 100px;
      border-right: 1px solid $gray-300;
    }
  }

  .progress {
    width: 100%;
    height: 4px;
    background: transparent;
  }

  .panel {
    .container {
      padding: 0 20px;
      text-align: center;
  
      @include media-breakpoint-up(md) {
        padding: 0 60px;
      }
    }
  }

  .panel-actions {
    margin-top: 2rem;
  }

  .busy-overlay-modal {
    max-width: 400px;
    margin-top: -60px;
  
    .modal-body {
      padding: 1.5rem;
    }
  }

  .form-group {
    text-align: left;
  }

  .invalid-feedback {
    display: block;
  }


  .merch-items {
    justify-content: center;

    .col-12 {
      margin-bottom: 20px;
    }
  }

  .merch-item {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;

    &__image {
      margin-bottom: 20px;
    }

    &__description {
      margin-bottom: 20px;
      text-align: left;
    }

    .input-group-qty { margin: auto auto 0; }
    .merch-item-sizes { margin-top: auto; }
  }

  .merch-item-size {
    display: flex;
    padding: 4px 12px;
    border-top: 1px solid rgba(0, 0, 0, 0.125);

    &:nth-child(even) {
      background: rgba(0, 0, 0, 0.025);
    }

    &:last-of-type {
      margin-bottom: 20px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }

    &__qty {
      margin-left: auto;
      font-weight: bold;
    }
  }

  .merch-qty {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: 0.75rem 1.25rem;

    &:last-child { border-bottom-width: 0; }

    .input-group-qty {
      width: 100px;
  
      input {
        padding: 0;
      }
  
      button {
        width: 30px;
        padding: 0;
      }
    }
  }

  .merch-panel .delivery-address {
    margin: 40px auto 0;
    max-width: 600px;
  }


  // react-block-ui overrides

  .registration-app .block-ui-container,
  .block-ui-container {
    position: fixed;
  }


  // react-select overrides

  .react-select__control {
    &--is-focused, &--menu-is-open {
      border-color: $primary !important;
      box-shadow: 0 0 0 1px $primary !important;
    }
  }

  .react-select__option {
    &--is-focused {
      background: $gray-200 !important;
    }

    &--is-selected {
      background: $primary !important;
    }
  }


  // react-phone-number-input overrides

  .react-phone-number-input__icon {
    width: 1.8em;
    height: auto;
    line-height: 0;
  }


  // custom styles

  .panel-body {
    margin: 40px auto;
  }

  .event-panel .panel-body { max-width: 600px; }
  .login-panel .panel-body { max-width: 600px; }
  .qtys-panel .panel-body { max-width: 500px; }
  .team-panel .panel-body { max-width: 600px; }
  .payment-panel .panel-body { max-width: 600px; }

  .offers-panel {
    .row-participant {
      padding: 15px;

      &:nth-child(even) { background: $gray-300; }
    }

    h4 {
      display: inline-block;
      margin-left: 20px;
      margin-bottom: 0;
    }

    $circle-size: 40px;
    .circle {
      display: inline-block;
      width: $circle-size;
      height: $circle-size;
      margin: 0 auto;
      border: 1px solid $black;
      border-radius: $circle-size;
      line-height: $circle-size;
      text-align: center;
    }

    .btn-offer {
      width: 100%;
      padding: 6px;
      background: $white;
      color: $black;
      border: 1px solid $primary;

      @include media-breakpoint-down(lg) {
        margin: 10px 0;
      }
  
      .offer-name {
        display: block;
        margin-bottom: 2px;
        font-size: 0.8rem;
      }
  
      .offer-price {
        display: block;
        font-size: 1rem;
      }
  
      &.selected {
        background: $primary;
        color: $white;
      }
    }
  }

  .input-group-qty {
    margin-left: auto;
    width: 140px;

    input {
      text-align: center;
      outline: none;
      background: $gray-100;
      line-height: 2;
    }

    button {
      width: 40px;
    }
  }
}
