@import '~bootstrap/scss/bootstrap.scss';

.clarety-lead-gen-widget {
  .sos-progress {
    padding: 30px;
    background: $light;
    font-size: 1.2rem;
    text-align: center;

    .progress {
      height: 2rem;
    }

    .goal-text {
      font-weight: bold;
    }
  }

  .panel-header {
    text-align: center;
    padding: 20px 20px 0;

    .subtitle {
      font-size: 1.2rem;
      font-weight: bold;
    }
  }

  .panel-actions {
    margin: 10px 0 20px;
  }
}
